/*Safelist controls*/
#safelist-box {
    margin-bottom: 0.5em;
}
#safelist-box h1 {
    font-size: 1.16667em;
}
#safelist-box #safelist {
    margin-left: 1em;
}
#safelist-box #safelist .safelist-active,
#safelist-box #safelist .safelist-pending {
    font-style: italic;
}
#safelist-box #safelist .safelist-pending:after {
    content: "(Loading)";
    padding-left: 4px;
}
#safelist-box #safelist .safelist-allnone {
    font-weight: bold;
}
    /*Sidebar list*/
#c-posts #sidebar #safelist-box #safelist li,
#c-favorites #sidebar #safelist-box #safelist li {
    list-style-type: disc;
}
    /*Topbar list*/
#c-artist-commentaries #safelist-box h1,
#c-comments #safelist-box h1,
#c-users #safelist-box #safelist-box h1,
#c-favorite-groups #safelist-box h1,
#c-pools #safelist-box h1,
#c-post-appeals #safelist-box h1,
#c-post-flags #safelist-box h1,
#c-post-replacements #safelist-box h1,
#c-explore-posts #safelist-box h1 {
    display: inline;
}
#c-artist-commentaries #safelist-box #safelist,
#c-comments #safelist-box #safelist,
#c-users #safelist-box #safelist,
#c-favorite-groups #safelist-box #safelist,
#c-pools #safelist-box #safelist,
#c-post-appeals #safelist-box #safelist,
#c-post-flags #safelist-box #safelist,
#c-post-replacements #safelist-box #safelist,
#c-explore-posts #safelist-box #safelist {
    display: inline;
}
#c-artist-commentaries #safelist-box #safelist li,
#c-comments #safelist-box #safelist li,
#c-users #safelist-box #safelist li,
#c-favorite-groups #safelist-box #safelist li,
#c-pools #safelist-box #safelist li,
#c-post-appeals #safelist-box #safelist li,
#c-post-flags #safelist-box #safelist li,
#c-post-replacements #safelist-box #safelist li,
#c-explore-posts #safelist-box #safelist li {
    display: inline;
    position: relative;
}
#c-artist-commentaries #safelist-box #safelist li:after,
#c-comments #safelist-box #safelist li:after,
#c-users #safelist-box #safelist li:after,
#c-favorite-groups #safelist-box #safelist li:after,
#c-pools #safelist-box #safelist li:after,
#c-post-appeals #safelist-box #safelist li:after,
#c-post-flags #safelist-box #safelist li:after,
#c-post-replacements #safelist-box #safelist li:after,
#c-explore-posts #safelist-box #safelist li:after {
    content: "|";
    font-weight: normal;
}
#c-artist-commentaries #safelist-box #safelist li.safelist-pending:before,
#c-comments #safelist-box #safelist li.safelist-pending:before,
#c-users #safelist-box #safelist li.safelist-pending:before,
#c-favorite-groups #safelist-box #safelist li.safelist-pending:before,
#c-pools #safelist-box #safelist li.safelist-pending:before,
#c-post-appeals #safelist-box #safelist li.safelist-pending:before,
#c-post-flags #safelist-box #safelist li.safelist-pending:before,
#c-post-replacements #safelist-box #safelist li.safelist-pending:before,
#c-explore-posts #safelist-box #safelist li.safelist-pending:before {
    content: "(Loading)";
    top: 20px;
    left: -5px;
    position: absolute;
}

/*Safelist settings*/
    /*General settings*/
#c-posts #a-index #safelist-settings {
    display: block;
}
#c-posts #a-index #safelist-settings input.btn {
    margin-right: 1em;
    margin-top: 1em;
    min-width: 4em;
}
    /*Name row*/
#c-posts #a-index #safelist-settings .safelist-namerow {
    height: 2em;
}
#c-posts #a-index #safelist-settings .safelist-namerow h2 {
    display: inline-block;
    margin-right: 0.5em;
}
#c-posts #a-index #safelist-settings .safelist-namerow .text {
    margin: 0.5em;
    padding-left: 0.5em;
    line-height:150%;
}
#c-posts #a-index #safelist-settings > div {
    margin-bottom: 1em;
}
    /*Input groupings*/
#c-posts #a-index #safelist-settings .input {
    border: 2px solid grey;
    padding: 0.8em;
    border-radius: 10px;
}
#c-posts #a-index #safelist-settings .input label {
    display: block;
    font-weight: bold;
    line-height: 1.5em;
    font-size: 100%;
}
#c-posts #a-index #safelist-settings .input span {
    display: block;
    max-width: 90%;
}
    /*Textblock(s)*/
#c-posts #a-index #safelist-settings textarea {
    width: 90%;
    height: 10em;
}
#c-posts #a-index #safelist-settings .safelist-textblock li {
    list-style-type: disc;
}
#c-posts #a-index #safelist-settings .safelist-textblock ul {
    margin-left: 1.5em;
}
#c-posts #a-index #safelist-settings .safelist-textblock div {
    padding: 0 0.5em;
    border: 2px solid lightgrey;
    width: 90%;
    height: 10em;
    font-size: 0.8em;
    overflow: auto;
}
    /*Checkbox input*/
#c-posts #a-index #safelist-settings .safelist-checkbox input {
    margin-top: 1em;
}
#c-posts #a-index #safelist-settings .safelist-checkbox .hint {
    margin: 1em 0;
}
    /*Fit and placement settings*/
#c-posts #a-index #safelist-settings .safelist-textblock,
#c-posts #a-index #safelist-settings .safelist-checkbox,
#c-posts #a-index #safelist-settings .safelist-textinput,
#c-posts #a-index #safelist-settings .safelist-namerow  {
    width: 50%;
    float: left;
    margin-top: 0.5em;
    position: relative;
}
#c-posts #a-index #safelist-settings .safelist-selection,
#c-posts #a-index #safelist-settings .safelist-halfcheckbox {
    width: 25%;
    float: left;
    margin-top: 0.5em;
    position: relative;
}
    /*Tooltip*/
#c-posts #a-index #safelist-settings .tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    border: 2px solid grey;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 4em;
    margin-left: -60px;
}
#c-posts #a-index #safelist-settings .validate-blacklist.tooltip {
    text-align: left;
}
#c-posts #a-index #safelist-settings label:hover ~ .tooltip,
#c-posts #a-index #safelist-settings .tooltip:hover {
    visibility: visible;
}

/*Other settings*/
div.safelist-error {
    font-size: 125%;
    margin: 1em;
    font-weight: bold;
    text-align: left;
    border: 2px solid lightgrey;
}
